*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8ff;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #66cc66;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 1.7rem;
    gap: 0.7rem;
}

header nav ul a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul a:hover {
    text-decoration: underline;
    color: #ff0000;
}

header img {
    margin-left: 1rem;
    margin-bottom: 0.6rem;
}

.titulo {
    margin-right: 500px;
    margin-top: 1.5rem;
}

.tema {
    width: 539px;
    display: flex;
}

.subtitulo {
    color: #006400;
    margin-left: 5rem;
    font-size: 20px;
}

.underline {
    margin-left: 5rem;
}

.paragrafo {
    font-size: 24px;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.logo1 {
    width: 60px;
    margin-left: 15rem;
}

.logo2 {
    width: 50px;
    margin-left: 24rem;
}

.logo3 {
    width: 50px;
    margin-left: 24rem;
}

.paragrafo_logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.paragrafo_logo1 {
    width: 20%;
    margin-left: 5rem;
    font-size: 150%;
}

.paragrafo_logo2 {
    width: 20%;
    font-size: 150%;
}

.paragrafo_logo3 {
    width: 20%;
    font-size: 150%;
}

footer {
    display: flex;
    height: 200px;
    background-color: #66cc66;
}

.subtitulo2 {
    color: #663300;
    font-size: 20px;
    margin-top: 5rem;
    margin-left: 5rem;
}

.informacoes {
    color: #663300;
    width: 20%;
    font-size: 20px;
    margin-left: 20rem;
    margin-top: 4.2rem;
}

.social {
    display: flex;
    align-items: center;
}

.instagram {
    width: 40px;
    margin-left: 2rem;
}

.facebook {
    width: 40px;
    margin-left: 2rem;
    margin-bottom: 0.3rem;
}